<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>stay hungry stay foolish</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<link rel="stylesheet" href="../LICSLAN/css/bootstrap.min.css">
	<link rel="stylesheet" href="../LICSLAN/css/font-awesome.min.css">
	<link rel="stylesheet" href="../LICSLAN/css/animate.min.css">
	<link rel="stylesheet" href="../LICSLAN/css/et-line-font.css">
	<link rel="stylesheet" href="../LICSLAN/css/nivo-lightbox.css">
	<link rel="stylesheet" href="../LICSLAN/css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="../LICSLAN/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-circle">
       <div class="sk-circle1 sk-circle"></div>
       <div class="sk-circle2 sk-circle"></div>
       <div class="sk-circle3 sk-circle"></div>
       <div class="sk-circle4 sk-circle"></div>
       <div class="sk-circle5 sk-circle"></div>
       <div class="sk-circle6 sk-circle"></div>
       <div class="sk-circle7 sk-circle"></div>
       <div class="sk-circle8 sk-circle"></div>
       <div class="sk-circle9 sk-circle"></div>
       <div class="sk-circle10 sk-circle"></div>
       <div class="sk-circle11 sk-circle"></div>
       <div class="sk-circle12 sk-circle"></div>
    </div>
</div>

<!-- navigation section -->
<section class="navbar navbar-fixed-top custom-navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">LICSLAN`s Team</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">主页</a></li>
				<li><a href="#work" class="smoothScroll">工作</a></li>
				<li><a href="#about" class="smoothScroll">关于</a></li>
				<li><a href="#team" class="smoothScroll">团队</a></li>
				<li><a href="#portfolio" class="smoothScroll">投资</a></li>
				<!--<li><a href="#pricing" class="smoothScroll">价格</a></li>-->
				<li><a href="#contact" class="smoothScroll">联系</a></li>
			</ul>
		</div>
	</div>
</section>

<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>DESIGN / DEVELOPMENT / BIG DATA / ARTIFICIAL INTELLIGENCE / DEVOPS / ALL TEC STACK</h3>
				<h3>
					<a href="../LICSLAN/html/bigData.html">网站移动端设计</a> /
					<a href="../LICSLAN/html/bigData.html">网站开发</a> /
					<a href="../LICSLAN/html/bigData.html">大数据</a> /
					<a href="../LICSLAN/html/bigData.html">人工智能</a> /
					<a href="../LICSLAN/html/bigData.html">devops</a> /
					<a href="../LICSLAN/html/bigData.html">全技术栈</a>
				</h3>
				<h1><a href="../LICSLAN/html/team.html">LICSLAN`s TEAM</a></h1>
				<hr>
				<a href="#work" class="smoothScroll btn btn-danger">What we do</a>
				<a href="#contact" class="smoothScroll btn btn-default">Talk to us</a>
			</div>
		</div>
	</div>		
</section>
<div class="tlinks">Collect from <a href="https://github.com/" >Github</a></div>
<!-- work section -->
<section id="work">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>01</strong>
					<h1 class="heading bold">WHAT WE DO</h1>
					<hr>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<i class="icon-cloud medium-icon"></i>
					<h3><a href="../LICSLAN/html/design.html">DESIGN</a></h3>
					<hr>
					<p>You still have lots more 2 work on</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
				<i class="icon-mobile medium-icon"></i>
				<h3><a href="../LICSLAN/html/design.html">DEVELOPMENT</a></h3>
					<hr>
					<p>You still have lots more 2 work on <a rel="nofollow" href="#" target="_parent">Tooplate</a>. Images are from <a rel="nofollow" href="#" target="_parent">Pixabay</a> free photo website.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="icon-laptop medium-icon"></i>
				<h3><a href="../LICSLAN/html/design.html">BIG DATA</a></h3>
					<hr>
					<p>You still have lots more 2 work on You still have lots more 2 work on</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="icon-compass medium-icon"></i>
				<h3><a href="../LICSLAN/html/design.html">ARTIFICIAL INTELLIGENCE</a></h3>
					<hr>
					<p>You still have lots more 2 work on</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="icon-chat medium-icon"></i>
				<h3><a href="../LICSLAN/html/design.html">DEVOPS</a></h3>
					<hr>
					<p>You still have lots more 2 work on <a href="#/blog/resources/how-to-use-and-embed-an-icon-font-on-your-website" target="_blank">ET Line Icons</a>You still have lots more 2 work on</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="icon-browser medium-icon"></i>
				<h3><a href="../LICSLAN/html/design.html">ALL TEC STACK</a></h3>
					<hr>
					<p>You still have lots more 2 work on</p>
			</div>
		</div>
	</div>
</section>

<!-- about section -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>02</strong>
					<h1 class="heading bold">OUR AGENCY</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<img src="../LICSLAN/images/about-img.jpg" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12">
				<h3 class="bold">LICSLAN TEAM</h3>
				<h1 class="heading bold">Best Design Agency from WUHAN</h1>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">DESIGN</a></li>
					<li><a href="#development" aria-controls="development" role="tab" data-toggle="tab">DEVELOPMENT</a></li>
					<li><a href="#bigdata" aria-controls="bigdata" role="tab" data-toggle="tab">BIGDATA</a></li>
					<li><a href="#devops" aria-controls="devops" role="tab" data-toggle="tab">DEVOPS</a></li>
					<li><a href="#ai" aria-controls="devops" role="tab" data-toggle="tab">AI</a></li>
					<li><a href="#all" aria-controls="devops" role="tab" data-toggle="tab">ATS</a></li>
				</ul>
				<!-- tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="design">
						<p>网站 移动端 设计  ui设计<a href="#">reprehenderit</a> 参与网站设计学习 做有意思的事情</p>
						<p>参与网站设计学习 做有意思的事情</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="development">
						<p>网站 移动端 开发  做有意思的事情</p>
						<p><a href="#">网站 移动端 开发  做有意思的事情</a> 网站 移动端 开发  做有意思的事情</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="bigdata">
						<p>大数据 环境搭建 开发  做有意思的事情 <a href="#">hendrerit</a> 数据收集清洗可视化 运用于生产 产生价值  做有意思的事情</p>
						<p>大数据 环境搭建 开发  做有意思的事情</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="devops">
						<p>devops 加快企业设计开发测试部署更新效率  做有意思的事情<a href="#">hendrerit</a> 持续集成 持续部署  to be interesting</p>
						<p>to be interesting</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="ai">
						<p>让人工智能帮助我们解决问题 带来新的创新与突破  <a href="#">hendrerit</a> to be interesting</p>
						<p>机器学习  神经网络  强化学习 NPL to be interesting</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="ats">
						<p>想学什么技术就去探索和学习 <a href="#">hendrerit</a> to be interesting </p>
						<p>学习使人快乐  终身学习使人充实 to be interesting</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<!-- team section -->
<section id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>03</strong>
					<h1 class="heading bold">TALENTED TEAM</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
				<div class="team-wrapper">
					<img src="../LICSLAN/images/XWJ-NEW.jpg" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Cindy</h4>
							<h3>Senior Designer</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.3s">
				<div class="team-wrapper">
					<img src="../LICSLAN/images/HWL.jpg" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Mary</h4>
							<h3>Core Developer</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
				<div class="team-wrapper">
					<img src="../LICSLAN/images/TX.jpg" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Linda</h4>
							<h3>Manager</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
				<div class="team-wrapper">
					<img src="../LICSLAN/images/HQF.jpg" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Sandar</h4>
							<h3>Accountant</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- portfolio section -->
<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>04</strong>
					<h1 class="heading bold">OUR PORTFOLIO</h1>
					<hr>
				</div>
				<!-- ISO section -->
				<div class="iso-section">
					<ul class="filter-wrapper clearfix">
                   		 <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
                   		 <li><a href="#" class="opc-main-bg" data-filter=".html">HTML</a></li>
                   		 <li><a href="#" class="opc-main-bg" data-filter=".photoshop">Photoshop</a></li>
                    	 <li><a href="#" class="opc-main-bg" data-filter=".wordpress">Wordpress</a></li>
                    	 <li><a href="#" class="opc-main-bg" data-filter=".mobile">Mobile</a></li>
               		</ul>
               		<div class="iso-box-section wow fadeIn" data-wow-delay="0.9s">
               			<div class="iso-box-wrapper col4-iso-box">

               				 <div class="iso-box html wordpress mobile col-lg-4 col-md-4 col-sm-6">
               				 	<a href="../LICSLAN/images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../LICSLAN/images/portfolio-img1.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-lg-4 col-md-4 col-sm-6">
               				 	<a href="../LICSLAN/images/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../LICSLAN/images/portfolio-img2.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html mobile col-lg-4 col-md-4 col-sm-6">
               				 	<a href="../LICSLAN/images/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../LICSLAN/images/portfolio-img3.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-lg-4 col-md-4 col-sm-6">
               				 	<a href="../LICSLAN/images/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../LICSLAN/images/portfolio-img4.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html photoshop col-lg-4 col-md-4 col-sm-6">
               				 	<a href="../LICSLAN/images/portfolio-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../LICSLAN/images/portfolio-img5.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box photoshop col-lg-4 col-md-4 col-sm-6">
               				 	<a href="../LICSLAN/images/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../LICSLAN/images/portfolio-img6.jpg" alt="portfolio img"></a>
               				 </div>

               			</div>
               		</div>

				</div>
			</div>
		</div>
	</div>
</div>		

<!-- pricing section -->
<!--<section id="pricing">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>05</strong>
					<h1 class="heading bold">OUR PRICING</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-one wow bounceIn" data-wow-delay="0.3s">
					<div class="plan_title">
						<i class="icon-mobile medium-icon"></i>
						<h3>BASIC</h3>
						<h2>$150 <span>per year</span></h2>
					</div>
					<ul>
                    	<li>100 GB Cloud Storage</li>
						<li>5 Pro Websites</li>
						<li>10 Secured Emails</li>
                        <li>24-hour Support</li>
					</ul>
					<button class="btn btn-warning">Get it now</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-two wow bounceIn" data-wow-delay="0.3s">
					<div class="plan_title">
						<i class="icon-desktop medium-icon"></i>
						<h3>BUSINESS</h3>
						<h2>$260 <span>per year</span></h2>
					</div>
					<ul>
						<li>200 GB Cloud Storage</li>
						<li>10 Pro Websites</li>
						<li>20 Secured Emails</li>
                        <li>30-Minute Support</li>
					</ul>
					<button class="btn btn-warning">Take this!</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-three wow bounceIn" data-wow-delay="0.3s">
					<div class="plan_title">
						<i class="icon-cloud medium-icon"></i>
						<h3>PROFESSIONAL</h3>
						<h2>$380 <span>per year</span></h2>
					</div>
					<ul>
						<li>500 GB Cloud Storage</li>
						<li>20 Pro Websites</li>
						<li>40 Secured Emails</li>
                        <li>Live Support</li>
					</ul>
					<button class="btn btn-warning">Buy Now</button>
				</div>
			</div>
		</div>
	</div>		
</section>-->

<!-- contact section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>05</strong>
					<h1 class="heading bold">CONTACT US</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 contact-info">
				<h2 class="heading bold">CONTACT INFO</h2>
				<p>湖北省 武汉市 黄陂区</p>
				<div class="col-md-6 col-sm-4">
					<h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> EMAIL</h3>
					<p>licslan@sina.com</p>
				</div>
				<div class="col-md-6 col-sm-4">
					<h3><i class="icon-phone medium-icon wow bounceIn" data-wow-delay="0.6s"></i> PHONES</h3>
					<p>13125182663</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<form action="#" method="get" class="wow fadeInUp" data-wow-delay="0.6s">
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" placeholder="Name" name="name">
					</div>
					<div class="col-md-6 col-sm-6">
						<input type="email" class="form-control" placeholder="Email" name="email">
					</div>
					<div class="col-md-12 col-sm-12">
						<textarea class="form-control" placeholder="Message" rows="7" name="message"></textarea>
					</div>
					<div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
						<input type="submit" class="form-control" value="SEND MESSAGE">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Copyright © Digital Team HTML5 Template | Design: <a href="#" target="_parent">Tooplate</a>. More Templates
					<a href="https://github.com/licslan/" target="_blank" title="github">GitHub</a> - Collect from
					<a href="https://github.com/licslan/" title="GitHub" target="_blank">GitHub</a></p>
				<hr>
				<ul class="social-icon">
					<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
					<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
					<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-tumblr wow fadeIn" data-wow-delay="0.9s"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>


<script src="../LICSLAN/js/jquery.js"></script>
<script src="../LICSLAN/js/bootstrap.min.js"></script>
<script src="../LICSLAN/js/smoothscroll.js"></script>
<script src="../LICSLAN/js/isotope.js"></script>
<script src="../LICSLAN/js/imagesloaded.min.js"></script>
<script src="../LICSLAN/js/nivo-lightbox.min.js"></script>
<script src="../LICSLAN/js/jquery.backstretch.min.js"></script>
<script src="../LICSLAN/js/wow.min.js"></script>
<script src="../LICSLAN/js/custom.js"></script>

</body>
</html>
